<div class="text-layout">
  <h1>{{ nombre | lowercase }}</h1>
</div>

<button pButton 
        (click)="cambiarNombre()"        
        type="button" 
        label="Cambiar Nombre" 
        icon="pi pi-check"
        iconPos="right"
        class="p-button-help"></button>

<p-card [header]="nombre | titlecase"
        subheader="Esto es un subheader">  
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos totam quibusdam, saepe neque tempore rem vitae labore provident fuga minima culpa incidunt modi facere nulla ipsa veritatis ipsam? Animi, hic?
</p-card>
<br/>
<app-menu></app-menu>
<router-outlet></router-outlet>